services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000" 
    volumes:
      - ./data:/app/data
      - ./models/best.ckpt:/app/models/best.ckpt
      - ./indexes/paths.json:/app/indexes/paths.json
      - ./indexes/vector.index:/app/indexes/vector.index

  ui:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    ports:
      - "8501:8501"
    environment:
      INTERNAL_API_URL: http://api:8000/search
      PUBLIC_API_URL: http://localhost:8000/
    depends_on:
      - api
