torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
lightning
transformers
albumentations
av
fastapi
uvicorn
python-multipart
faiss-cpu
einops
